include CMakeLists.txt
include cmake_uninstall.cmake.in
include LICENSE
include VERSION
include README.md
include prior_suffix.json

recursive-include src *.cpp *.h *.hpp

recursive-include lib *.h *.hpp *.cpp

recursive-include python *.h *.hpp *.cpp CMakeLists.txt

recursive-include tests *.cpp CMakeLists.txt *.txt

recursive-include fstd *.py *.pyi

global-exclude build/* build_ext/* dist/* *.egg-info *.o *.a *.so *.dylib *.pyd
global-exclude __pycache__ *.pyc